<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557783706185-nv98bntomd503oqdpllm5rrs5iaafu89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557783706185-nv98bntomd503oqdpllm5rrs5iaafu89</string>
	<key>API_KEY</key>
	<string>AIzaSyBZu-AGavfYVZwvQ1Ex2_t9YkT-TcCIzA0</string>
	<key>GCM_SENDER_ID</key>
	<string>557783706185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sukil.RamenInfo</string>
	<key>PROJECT_ID</key>
	<string>rameninfo-efca1</string>
	<key>STORAGE_BUCKET</key>
	<string>rameninfo-efca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:557783706185:ios:b2a559b0ec38028932ad98</string>
	<key>DATABASE_URL</key>
	<string>https://rameninfo-efca1-default-rtdb.firebaseio.com</string>
</dict>
</plist>
